.experience-section {
  padding: 80px 10%;
}

/* TITLE */
.exp-title {
  font-size: 40px;
  color: white;
  margin-bottom: 60px;
}

.exp-title span {
  color: #22d3ee;
}

/* 2 COLUMN GRID */
.exp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* CARD BASE */
.exp-card {
  position: relative;
  padding: 10px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  overflow: hidden;

  /* animation start */
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

/* SHOW ANIMATION */
.exp-card.show {
  opacity: 1;
  transform: translateY(0);
}

/* 🔥 GRADIENT BORDER */
.exp-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: 18px;
  background: linear-gradient(135deg, #22d3ee, #a855f7);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* HOVER EFFECT */
.exp-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(34, 211, 238, 0.25);
}

/* TITLE */
.exp-card h3 {
  color: #22d3ee;
  font-size: 30px;
  margin-bottom: 15px;
}

/* LIST */
.exp-card ul {
  list-style: none;
  padding: 0;
}

.exp-card li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  color: #ccc;
  font-size: 22px;

}

/* CUSTOM BULLET */
.exp-card li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: #22d3ee;
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .exp-container {
    grid-template-columns: 1fr;
  }
}