* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #0f172a;
  /* dark navy (very professional) */
  color: white;
  font-family: "Times New Roman", serif;
}

/* Auto smooth scroll for all internal links */
html {
  scroll-behavior: smooth;
}